<h1>Search Results</h1>
<div class="row">	
	<div class="span6">
		<h2>Search Results</h2>
			<% if search_results == [] %>
				<h3>No results matched your search criteria. <a href="/">Try again</a></h3>
			<% else %>	 
			<ul class="list-inline">
				<li>
				<% search_results.each do |idea| %>
					<h3><%= idea.title %></h3>
					<h6><%= idea.description %></h6>
					<h6>TAGS: <%= idea.tags.join(", ") %></h6>
					<h5><a href="/<%= idea.id %>/detail">View Idea Detail</a></h5>
					<h5><a href="/<%= idea.id %>/edit">Edit Idea</a></h5>
						<p><form action='/<%= idea.id %>/like' method='POST' style="display: inline">
		 					<input type='submit' value="Good Idea +1" class="btn btn-default"/>
						</form></p>
				<% end %>
			</li>
		</ul>
		<% end %>
	</div>
</div>